<div class='flex-table'>
    <div id='event-table' class='events' data-toggle="table" data-pagination="true">
        <div class="event-items">
            {{#each this}}
                <div class="event-item showcontent testtemplate" data-tags="{{category.id}}">
                    <a href="{{url}}">
                        <div class="event-item-date">
                            <div class="smallertext">{{formatDate eventdate 'cccc'}}</div>
                            <div class="event-date">{{formatDate eventdate 'dd. MMM ´yy'}}</div>
                        </div>
                        <div class="event-item-info">
                        <div class="event-kicker">
                            {{#if category}}
                              {{category.title}}
                            {{/if}}
                            {{#if category.title}}
                                {{#if series}}
                                |
                                {{/if}}
                            {{/if}}
                            {{series}}
                        </div>

                            <div class="event-item-title">
                                <div class="event-title">{{#if highlight}}<div class="highlight-icon"></div>{{/if}}{{title}}</div>
                            </div>
                            {{#if timeValid}}
                                <span class="event-time">
                                    <time>{{formatDate eventdate 'HH:mm'}} Uhr</time>
                                </span>
                            {{/if}}
                            <span class="event-location">{{location}}</span>
                        </div>
                    </a>
                    <div class="event-item-links">
                    {{#eq status "canceled"}}
                        <div class="rotation-wrapper-outer"><div class="buttonlink canceledevent rotation-wrapper-inner"><span class="linktext element-to-rotate">Abgesagt</span></div></div>
                    {{/eq}}
                    {{#if ticketurl}}
                        <a href="{{ticketurl}}" class="rotation-wrapper-outer"><div class="buttonlink ticket rotation-wrapper-inner"><span class="linktext element-to-rotate">Tickets</span></div></a>
                    {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>