<div class="event-col">
    {{#each this}}
        <a href="{{url}}" class="event-item">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-12 col-xl-5">
                    <div class="event-image">
                        <div class="ratio_events">
                            <div class="focuspoint" {{{image.focuspoint_data}}}>
                                <img src="{{image.thumb_100px}}" class="lazyload img-responsive" title="{{titleTag}}" alt="{{altTag}}" data-sizes="auto"
                                data-srcset="{{image.thumb_100px}} 100w,
                                             {{image.thumb_300px}} 300w,
                                             {{image.thumb_450px}} 450w,
                                             {{image.thumb_600px}} 600w,
                                             {{image.thumb_920px}} 920w,
                                             {{image.thumb_1230px}} 1230w" />
                            </div>
                        </div>
                        <div class="event-date">
                          <div class="event-date__day d-md-none d-lg-block d-xl-none d-xxl-none">{{formatDate eventdate 'cccc'}}</div>
                          <div class="event-date__date">{{formatDate eventdate 'dd.MM.'}}</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-7">
                    <div class="event-text">
                        <div class="event-kicker">
                            {{#if category}}
                              {{category.title}}
                            {{/if}}
                            {{#if category.title}}
                                {{#if series}}
                                |
                                {{/if}}
                            {{/if}}
                            {{series}}
                        </div>
                        <div class="event-title">{{title}}</div>
                        <div class="event-info {{status}}">
                            {{#eq status "canceled"}}
                                Abgesagt
                            {{/eq}}
                            {{#eq status "postponed"}}
                                Verschoben:
                            {{/eq}}
                            {{#if (isSingleDayEvent startdate enddate)}}
                                <!-- Eintägiger Termin: Ausgabe des Startdatums im Format dd. MMMM yyyy -->
                                {{formatDate startdate 'ccc dd. MMM yyyy'}}
                            {{else}}
                                <!-- Mehrtägiger Termin: Ausgabe von Startdatum und Enddatum -->
                                {{formatDate startdate 'dd.MMM.yyyy'}} - {{formatDate enddate 'dd.MM.yyyy'}}
                            {{/if}}

                            {{#if timeValid}}
                                <br /><time>{{formatDate eventdate 'HH:mm'}} Uhr</time>
                            {{/if}}
                        </div>
                   </div>
                </div>
            </div>
        </a>
    {{/each}}
</div>
