                    <div class="event-list">
            {{#each this}}
                        <a href="{{url}}" class="event-item">
                            <div class="event-date-wrapper">
                                <span class="event-date">{{formatDate eventdate 'dd. MMMM yyyy'}}</span>
                                <span class="event-time">{{timeStart}} Uhr
                                    {{#unless (eq timeEnd "23:59")}}
                                      - {{timeEnd}} Uhr
                                    {{/unless}}
                                </span>
                            </div>
                            <div class="event-title">{{title}}</div>
                        </a>
            {{/each}}
                    </div>