<div id="event-table" class="event-list">
    {{#each this}}
        <a href="#" class="event_item event-item showcontent {{#if highlight}}sh-event{{/if}}">
            <div class="row">
                <div class="col-xl-2">
                    <div class="event_date">{{formatDate eventdate 'dd.MM.'}}</div>
                </div>
                <div class="col-lg-5">
                    <div class="event_title">{{title}}</div>
                    <div class="event_lead">{{teaser}}</div>
                </div>
                <div class="col-lg-4 offset-lg-1 d-flex justify-content-lg-end align-items-center">
                    <div class="event_info">
                        <div class="event_info_row">
                            <span class="label">Datum</span>
                            <span class="content">{{formatDate eventdate 'EEE, dd. MMMM yyyy'}}</span>
                        </div>
                        {{#if timeValid}}
                            <div class="event_info_row">
                                <span class="label">Beginn</span>
                                <span class="content">{{timeStart}} Uhr</span>
                            </div>
                        {{/if}}
{{!--                         <div class="event_info_row"> --}}
{{!--                             <span class="label">Eintritt</span> --}}
{{!--                             <span class="content">ab 17,75€</span> --}}
{{!--                         </div> --}}
{{#if organiser}}
                        <div class="event_info_row">
                            <span class="label">Veranstaltet von</span>
                            <span class="content">{{organiser}}</span>
                        </div>
{{/if}}
                    </div>
                </div>
            </div>
        </a>
    {{/each}}
</div>
